* {
    margin: 0;
    padding: 0;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #f0f0f0;
   
}

.profileH2 {
    margin: 20px;
    color: #333;
}

.profileButton {
    margin-top: 15px;
    width: 100px;
    height: 30px;
    color: white;
    background-color: #1976D2;
    cursor: pointer;
}