* {
    margin: 0;
    padding: 0;
}

.NotFoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #f0f0f0;
   
}