* {
    padding: 0;
    margin: 0;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.h2-cart {
    margin: 10px 0 10px 0;
}

.p-cart {
    margin: 10px 0 30px 0;
    font-size: 25px;
    font-weight: bold;
}

.boton-cart {
    background-color: #282c34;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.boton-cart-disabled {
    background-color: grey;
    color: white;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: not-allowed;
}

.ul-cart {
    list-style-type: none;
    display: flex;
    margin: 20px 0 20px 0;
    flex-direction: column;
    gap: 20px;
    
}

.img-cart {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.li-cart {
    display: flex;
    align-items: center;
    gap: 25px;
}

.largo {
    width: 75px;
}

.menos {
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}

.mas {
    background-color: white;
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}