* {
    margin: 0;
    padding: 0;
}

.fondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./Header.jpg);
    height: 350px; 
    color: white;
    background-size: cover;
}

hr {
    width: 80%;
    border: 1px solid gray;
    margin-top: 20px;
}