.navbar {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #282c34;
    color: white;
    padding: 10px;
}

.boton-navbar {
    background-color: #282c34;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
}

.p-navbar {
    padding: 3px;
}

.precio {
    border: 1px solid lightblue;
    border-radius: 3px;
    color: lightblue;
    padding: 2px;
    margin-left: auto;
    cursor: pointer;
    background-color: #282c34;
}   

