.navbar {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #282c34;
    color: white;
    padding: 10px;
}

.boton-navbar {
    background-color: #282c34;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
}

.boton-navbar-activo {
    background-color: #282c34;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    border-bottom: 4px solid white;
   

}

.p-navbar {
    padding: 3px;
}

.precionb {
    border: 1px solid lightblue;
    border-radius: 3px;
    color: lightblue;
    padding: 2px;
    margin-left: auto;
    cursor: pointer;
    background-color: #282c34;
    text-decoration: none;
}

.precionb-activo {
    border: 1px solid lightblue;
    border-radius: 3px;
    color: lightblue;
    padding: 2px;
    margin-left: auto;
    cursor: pointer;
    background-color: #282c34;
    text-decoration: none;
    border-bottom: 4px solid lightblue;
}

.cart-link {
    margin-left: auto;
    text-decoration: none;
}   

